html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 5em;
    background: #fff;
    font-family: system-ui, sans-serif;
}

a {
    color: #000;
    text-decoration-color: #ccc;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

@media (hover: hover) {
    a:hover {
        text-decoration-color: #000;
    }
}

